<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tip.itso.z.vision">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Vision"
        android:allowBackup="true"
        android:icon="@drawable/logo_solo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_solo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecurityScreen" />
        <activity android:name=".MainScreen"
            android:launchMode="singleTask"/>
        <activity android:name=".HideAppActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true" />

        <service
            android:name=".LocationTrackingService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".USSDCodesReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>